:root {
    --bg-color: black;
    --max-width: 800px;
    --max-height: 500px;
    --dice-size: 80px;
    --half-size: 40px;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0;
    background-color: var(--bg-color);
}

div {
    margin: 0;
    box-sizing: border-box;
}

.body-wrapper {
    position: relative;

    width: 800px;
    height: 500px;

    display: grid;
    grid-template-rows: 50px 1fr 50px;
}

.button-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.table {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    border: 1px dashed white;
}

.dice {
    position: relative;
    margin: 10px;
    width: var(--dice-size);
    height: var(--dice-size);
    transform-style: preserve-3d;
    transform: none;
    transition-duration: 1s;
    --result: 1;
}

.dice:hover {
    transform: rotate3d(1, 1, 1, 1800deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 30px;
    transform-origin: var(--half-size) var(--half-size) 0px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 40px 0px rgb(255, 255, 255) inset;
    background-color: rgb(165, 0, 0);
}

.d4 {
    box-shadow: 0 8px 40px -8px rgb(255, 255, 255) inset;
    background-color: rgb(165, 0, 0);
}

.d6 {
    box-shadow: 0 0 40px -8px rgb(255, 255, 255) inset;
    background-color: rgb(255, 145, 0);
}

.d8 {
    box-shadow: 0 0 40px 0px rgb(255, 255, 255) inset;
    background-color: rgb(38, 165, 0);
}

.d12 {
    box-shadow: 0 0 40px 0px rgb(255, 255, 255) inset;
    background-color: rgb(0, 38, 165);
}

.d20 {
    box-shadow: 0 0 48px 0px rgb(255, 255, 255) inset;
    background-color: rgb(83, 0, 160);
}

@media screen and (max-width: 800px) {
    .body-wrapper {
        width: 100%;
    }
}

@media screen and (max-height: 500px) {
    .body-wrapper {
        height: 100%;
    }
}