:root {
    --size: 50px;
    --half-size: 25px;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.body-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 1px dashed white;
}

.dice {
    position: relative;
    width: var(--size);
    height: var(--size);
    transform-style: preserve-3d;
    --rotation: rotate3d(1, 1, 1, 0deg);
    --base-rotation: rotateY(0deg);
    --duration: 2s;
    --shadow: transparent;
}

.dice:hover {
    --shadow: rgba(255, 255, 255, 0.87);
}

.dice-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 20px 8px var(--shadow);
    transform: translateZ(-200px);
    transition-duration: 0.3s;
}

.dice-background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 60px 25px rgba(13, 0, 202, 0.822);
    transform: translateZ(-200px);
    transition-duration: 0.3s;
}

.face {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: white;
    background-color: rgb(58, 58, 58);
    font-size: 30px;
    text-align: center;
    transition-duration: var(--duration);
    transition-timing-function: ease-out;
}

.front {
    background-color: #383bff;
    transform: var(--rotation) var(--base-rotation) rotateY(0deg) translateZ(var(--half-size));

}

.back {
    background-color: #009ac0;
    transform: var(--rotation) var(--base-rotation) rotateY(180deg) translateZ(var(--half-size));
}

.right {
    background-color: #288dec;
    transform: var(--rotation) var(--base-rotation) rotateY(90deg) translateZ(var(--half-size));
}

.left {
    background-color: #331ea8;
    transform: var(--rotation) var(--base-rotation) rotateY(-90deg) translateZ(var(--half-size));
}

.top {
    background-color: #0036cc;
    transform: var(--rotation) var(--base-rotation) rotateX(90deg) translateZ(var(--half-size));
}

.bottom {
    background-color: #5b20a8;
    transform: var(--rotation) var(--base-rotation) rotateX(-90deg) translateZ(var(--half-size));
}

.rotatable {
    transform: rotate3d(1, 0, 0, 30deg);
}